<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tabbarImage</key>
		<string>home_normal</string>
		<key>tabbarSelectImage</key>
		<string>home_select</string>
		<key>tabbarController</key>
		<string>HomeViewController</string>
		<key>tabbarTitle</key>
		<string>消息</string>
	</dict>
	<dict>
		<key>tabbarImage</key>
		<string>mine_normal</string>
		<key>tabbarSelectImage</key>
		<string>mine_select</string>
		<key>tabbarController</key>
		<string>MineViewController</string>
		<key>tabbarTitle</key>
		<string>我的</string>
	</dict>
</array>
</plist>
